/* Header ====================================================================*/

.theme-header {
  position: relative;
  top: 0 !important;
  z-index: 5;
  .banner {
    height: 40px;
    @include flex();
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    p {
      @include brandon-medium(12px);
      text-transform: uppercase;
      margin: 0;
      text-align: center;
    }
  } //.banner
  .desktop-header {
    height: 70px;
    @include flex();
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    .logo,
    .logo a,
    .main-menu,
    .main-menu ul,
    .options {
      height: inherit;
      @include flex();
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-flow: row wrap;
              flex-flow: row wrap;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
    }
    .logo {
      width: 20%;
      img {
        width: 90%;
      }
    }
    .main-menu {
      width: 60%;
      ul {
        width: 100%;
        padding-right: 20px;
        position: relative;
        &:after {
          position: absolute;
          content: '';
          border-right: 2px solid #000;
          height: 28px;
          right: -10px;
        }
      }
      .menu-item,
      .menu-item a {
        @include brandon-medium(18px);
        text-decoration: none;
        text-transform: uppercase;
        height: inherit;
        text-align: center;
      }
      .menu-item {
        -webkit-box-flex: 1;
            -ms-flex: 1;
                flex: 1;
      }
      .menu-item a {
        display: block;
        padding: 18% 0;
        position: relative;
        &:after {
          position: absolute;
          content: '';
          bottom: 10px;
          border-bottom: 2px solid #000;
          width: 0%;
          left: 50%;
          -webkit-transform: translateX(-50%);
                  transform: translateX(-50%);
        }
        &:hover {
          &:after {
            width: 80%;
            @include transition();
          }
        }
      } //.menu-item a
    } //.main-menu
    .options {
      width: 20%;
      padding-left: 18px;
      .account,
      .cart,
      .search {
        height: inherit;
        position: relative;
        -webkit-box-flex: 1;
            -ms-flex: 1;
                flex: 1;
        text-align: center;
        cursor: pointer;
        a {
          color: #000;
          display: block;
          height: inherit;
          padding: 28% 0;
          position: relative;
          text-decoration: none;
          span {
            text-decoration: none;
            position: absolute;
            background: #000;
            color: #fff;
            border-radius: 100%;
            font-size: 12px;
            width: 20px;
            height: 20px;
            top: 20px;
            left: 42%;
          }
        }
        &:after {
          position: absolute;
          content: '';
          bottom: 10px;
          border-bottom: 2px solid #000;
          width: 0%;
          left: 50%;
          -webkit-transform: translateX(-50%);
                  transform: translateX(-50%);
        }
        &:hover {
          &:after {
            width: 40%;
            @include transition();
          }
        }
      }
    } //.options
  } //.desktop-header
  .mobile-header {
    position: relative;
    height: 70px;
    .logo {
      position: absolute;
      height: inherit;
      text-align: center;
      left: 50%;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%);
      @include flex();
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      a {
        width: 90%;
        padding-top: 10px;
        padding-right: 10px;
      }
    } //.logo
    .menu,
    .options {
      @include flex();
      height: inherit;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
    }
    .menu {
      float: left;
      width: 20%;
    }
    .options {
      float: right;
      width: 30%;
      .account,
      .cart,
      .search {
        text-align: center;
        -webkit-box-flex: 1;
            -ms-flex: 1;
                flex: 1;
      }
      .cart {
        position: relative;
        a {
          text-decoration: none;
          color: #000;
          span {
            text-decoration: none;
            position: absolute;
            background: #000;
            color: #fff;
            border-radius: 100%;
            font-size: 12px;
            width: 20px;
            height: 20px;
            top: -4px;
            left: 43%;
            @include s() {
              left: 34%;
            }
          }
        }
      }
    }
    .mobile-menu {
      position: absolute;
      top: 70px;
      z-index: 5;
      background: #fff;
      overflow-x: hidden;
      border: 1px solid #D8D9DB;
      width: 0%;
      .mb-item {
        padding: 7px 10px;
        border-bottom: 1px solid #D8D9DB;
        min-width: 200px;
        a {
          @include brandon-light(15px);
          text-decoration: none;
          color: #000;
          display: block;
        }
        &:hover {
          background: #D8D9DB;
          @include transition();
        }
      }
    } //.mobile-menu
  } //.mobile-header
  form {
    @include flex();
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute;
    top: 110px;
    left: 0;
    right: 0;
    height: 0px;
    overflow: hidden;
    overflow-y: auto;
    .input-wrapper {
      width: 30%;
      position: relative;
      @include m() {
        width: 80%;
        text-align: center;
      }
      @include s() {
        width: 90%;
      }
    }
    label {
      margin: 0;
      @include s() {
        width: 80%;
        margin: auto;
      }
    }
    input {
      height: 35px;
      width: 80%;
      border: 0;
      border-bottom: 1px solid #000;
      padding: 5px 0;
      background: rgba(0,0,0,0);
      @include inputPlaceholder(#000);
      @include brandon-light(18px);
      @include m() {
        width: 90%;
        margin: auto;
      }
      @include s() {
        margin: auto;
      }
    }
    button {
      background: rgba(0,0,0,0);
      position: absolute;
      border: 0;
      z-index: 1;
      right: 10%;
      top: 15px;
      @include m() {
        width: 50px;
        right: 6%;
        padding: 0;
      }
      @include s() {
        width: 50px;
        right: 6%;
        padding: 0;
      }
    }
  } //form
} //.theme-header
