/* Navigation =================================================================*/

// Main Nav
.theme-nav-main {
  .nav-link {
    font-size: 1.1rem;
    font-weight: $fontBold;
    margin-right: $gutter/3;
  }
  .dropdown {
    position: relative;
    &:hover {
      .dropdown-menu {
        display: block;
      }
    }
    .dropdown-menu {
      display: none;
      padding: $gutter/3 0;
      position: absolute;
      top: 1.5rem;
      z-index: 2;
      li {
        display: block;
        padding: $gutter/4 $gutter/1.5;
        background: lighten($colorBackground, 30%);
        &:first-of-type {
          padding-top: $gutter/2;
        }
        &:last-of-type {
          padding-bottom: $gutter/2;
        }
      }
    }
  }
}

// Pagination
.pagination-section {
  @include flex();
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  .showingIndex {
    margin-right: 20px;
  }
  .pagination-load-more,
  .pagination-load-less {
    color: #000;
    text-decoration: none;
    padding: 10px;
    &:hover {
      background: #8a8a8a;
      color: #fff;
      @include transition();
    }
  }
}

.pagination {
  margin-right: 20px;
  a, .page.current {
    display: inline-block;
    min-width: $gutter;
    height: $gutter;
    text-align: center;
    line-height: ($gutter - $borderWeight*2);
    text-decoration: none;
    font-size: 1.125rem;
    color: #000;
    padding: 0 $gutter/4;
    border: 0;
    border-radius: $borderRadius;
    -webkit-appearance: none;
    -moz-appearance: none;
    &.active, &:hover {
      color: #fff;
      background-color: #8a8a8a;
    }
  }
  .page.current {
    color: lighten($colorBrand, 25%);
    background-color: $colorBrand;
  }
}

  // .deco {
  //   display: inline-block;
  //   min-width: $gutter;
  //   height: $gutter;
  //   text-align: center;
  //   line-height: ($gutter - $borderWeight*2);
  //   text-decoration: none;
  //   font-size: 1.125rem;
  //   color: $colorBrand;
  //   padding: 0 $gutter/4;
  // }
