/* Social ====================================================================*/

.social-sharing {
  @include flex();
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}
.button.share {
  width: 48px;
  padding: 0;
  line-height: normal;
  font-size: 1.5rem;
  border: none;
  background-color: transparent;
  height: auto;
  color: #000;
  &.facebook {
    &:hover {
      color: #3b5998;
    }
  }
  &.twitter {
    &:hover {
      color: #00aced;
    }
  }
  &.pinterest {
    &:hover {
      color: #cb2027;
    }
  }
  &.fancy {
    &:hover {
      color: #4999dc;
    }
  }
  &.google {
    &:hover {
      color: #dd4b39;
    }
  }
}
