<section class="fit-guide-page">
  <div class="container xl">
    {% comment %}
      {%- include 'fit-guide-mobile-select' -%}
      {% section 'page-fit-guide-measure-me' %}
    {% endcomment %}
    <h1 class="heading">{{ page.title }}</h1>
    <p class="lead s-hide" id="js-nav"></p>
    <div class="tabs">
      <ul class="tab-navigation s-hide">
        <li class="tab-item" data-active-nav="Fit Tips"><a>Fit Tips</a></li>
        <li class="tab-item active" data-active-nav="Before & After"><a>Before & After</a></li>
      </ul>
      <div class="mobile-navigation m-hide l-hide">
        <select>
          <option value="fit-tips">Fit Tips</option>
          <option value="before-n-after" selected>Before & After</option>
        </select>
      </div>
      <ul class="tab-panels">
        {% section 'page-fit-guide-fit-tips' %}
        {% section 'page-fit-guide-before-n-after' %}
      </ul>
    </div>
  </div>
</section>
