<div class="mobile-select m-hide l-hide">
  <select>
    <option disabled selected>Pick a Guide</option>
    <option value="measure-me">Measure Me</option>
    <option value="fit-guide">Fit Guide</option>
    <option value="before-after">Before & After</option>
  </select>
</div>
