<!-- snippets/form-reset.liquid -->

<div id="PasswordResetForm">
  {% form 'reset_customer_password' %}

    {{ form.errors | default_errors }}
    <div class="input-wrapper">
      <input type="password" placeholder="{{ 'form.password' | t }}" value="" name="customer[password]" id="ResetPassword"{% if form.errors contains 'password' %} class="error"{% endif %} autofocus>
    </div>
    <div class="input-wrapper">
      <input type="password" placeholder="{{ 'form.password_confirm' | t }}" value="" name="customer[password_confirmation]" id="PasswordConfirmation"{% if form.errors contains 'password_confirmation' %} class="error"{% endif %}>
    </div>

    <button type="submit" class="btn primary-btn">{{ 'account.reset.submit' | t }}</button>

  {% endform %}
</div>
