.collection-slider {
  background: #fff;
  padding: 2em 0;
  @include m() {
    padding: 1em 0;
  }
  @include s() {
    padding: 1em 0;
  }
  .title {
    @include brandon-regular(60px);
    text-align: center;
    @include m() {
      font-size: 50px;
    }
    @include s() {
      font-size: 40px;
    }
  }
  .swiper-container {
    width: 100%;
    height: 100%;
  }
  .swiper-wrapper {
    margin-bottom: 1.5em;
  }
  .swiper-slide {
    @include flex();
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  a {
    text-decoration: none;
    color: #e5e5e5;
    &:hover {
      -webkit-box-shadow: inset 0px 0px 10px 3px;
              box-shadow: inset 0px 0px 10px 3px;
      @include transition();
    }
  }
  .image {
    display: block;
    width: 90%;
    height: 400px;
    margin: auto;
    img {
      padding-top: 5px;
      height: inherit;
      display: block;
      margin: auto;
    }
    @include m() {
      height: 330px;
    }
    @include s() {
      height: 240px;
    }
  }
  .info {
    text-align: center;
    color: #3f3f3f;
    h3 {
      @include brandon-regular(24px);
      @include m() {
        font-size: 22px;
      }
      @include s() {
        font-size: 20px;
      }
    }
  }
}
