.privacy-page {
  h1 {
    padding: 1em 0 0.5em;
    @include minionpro(60px);
    text-align: center;
    @include m() {
      font-size: 50px;
      padding: 0.5em 0;
    }
    @include s() {
      font-size: 40px;
      padding: 0.2em 0;
    }
  }
  .tabs {
    @include flex();
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    list-style: none;
    margin: 0;
  }
  .tab-navigation {
    width: 25%;
    @include m() {
      display: none;
    }
    @include s() {
      display: none;
    }
    .tab-item {
      cursor: pointer;
      @include brandon-medium(14px);
      padding: 0.5em;
      text-transform: uppercase;
      color: #8a8a8a;
      &:first-child {
        padding-top: 0.3em;
      }
      &.active {
        color: #000;
      }
      &:hover {
        color: #000;
        @include transition();
      }
    }
  }
  .tab-panels {
    width: 75%;
    padding-bottom: 7em;
    @include m() {
      width: 100%;
    }
    @include s() {
      width: 100%;
    }
    p {
      color: #8a8a8a;
      @include brandon-regular(18px);
      @include s() {
        font-size: 16px;
        line-height: 20px;
      }
    }
    .tab-panel {
      cursor: pointer;
      .accordion {
        position: relative;
        width: 100%
      }
      .block {
        @include minionpro(24px);
        margin: 0;
        padding-bottom: 20px;
        color: #8a8a8a;
        @include s() {
          color: #000;
          font-size: 18px;
        }
        span {
          margin-right: 10px;
        }
      }
      .pane {
        overflow-x: hidden;
        height: auto;
        opacity: 0;
        visibility: hidden;
        padding: 0 0 20px 26px;
        position: absolute;
        top: 36px;
        left: 0;
        right: 0;
        @include s() {
          margin-left: 0px;
        }
      }
      &.active,
      &:hover {
        .block {
          @include transition();
          color: #000;
        }
      }
    }
  }
}
