/* Collection ================================================================*/

.collection-pg {
  background: #fff;
  padding-bottom: 3em;
  .heading {
    text-align: center;
    @include minionpro(80px);
    @include m() {
      font-size: 60px;
    }
    @include s() {
      font-size: 40px
    }
  }
  .title-filter {
    @include flex();
    position: relative;
    width: 70%;
    margin: 0 auto 6em;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    @include m() {
      width: 100%;
    }
    @include s() {
      width: 100%;
      margin-bottom: 3em;
    }
  }
  .items-width {
    cursor: pointer;
    text-align: center;
    padding-bottom: 20px;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    @include s() {
      padding-bottom: 10px;
    }
    .select-wrapper {
      width: 100%;
      @include brandon-light(18px);
      @include s() {
        font-size: 10px;
        padding-right: 0;
        font-size: 10px;
        padding-left: 0;
        padding-top: 2px;
      }
      &:after {
        font-size: 18px;
        top: 2px;
        @include m() {
          right: 5px;
        }
        @include s() {
          content: '\f078';
          right: 3px;
          top: 6px;
          pointer-events: none;
          font-size: 10px;
          display: none;
        }
      }
      select {
        border: 0;
        height: auto;
        text-transform: uppercase;
        @include m() {
          padding-right: 0;
        }
        @include s() {
          padding-right: 0;
          padding-left: 0;
          font-size: 10px;
        }
      }
    }
    span {
      text-transform: uppercase;
      @include brandon-light(18px);
      @include s() {
        font-size: 10px;
      }
      .icon {
        margin-bottom: 6px;
        margin-left: 10px;
        @include s() {
          margin-left: 0px;
          display: none;
        }
      }
    }
    ul {
      position: absolute;
      z-index: 20;
      top: 100%;
      @include flex();
      left: 0;
      right: 0;
      overflow-x: hidden;
      height: auto;
      opacity: 0;
      visibility: hidden;
      background: #eaeaea;
      padding: 15px 40px;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-flow: row wrap;
              flex-flow: row wrap;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      @include s() {
        padding: 15px 20px;
      }
    }
    .filter-value {
      width: auto;
      margin: 5px 20px;
      label {
        height: 25px;
        margin: 0;
        cursor: pointer;
      }
      @include s() {
        span {
          font-size: 14px;
        }
      }
      .checked {
        &:checked ~ span {
          border-bottom: 1px solid #000;
        }
      }
      .checked-color {
        &:checked ~ span {
          border: 1px solid #000;
        }
      }
    }
  }
  .collection-product {
    margin-bottom: 4em;
    @include s() {
      margin-bottom: 20px;
    }
    .image {
      display: block;
      img {
        display: block;
        margin: auto;
        height: 350px;
        @include s(){
          height: auto;
        }
      }
    }
    .info {
      text-align: center;
      margin-top: 10px;
      margin-bottom: 5px;
      a {
        @include brandon-regular(26px);
        text-decoration: none;
        color: #000;
        @include s() {
          font-size: 18px;
          line-height: 15px;
        }
        // margin-bottom: 10px;
      }
    }
    .price {
      text-align: center;
      @include brandon-light(16px);
    }
  }
  .swatches {
    ul {
      @include flex();
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-flow: row wrap;
              flex-flow: row wrap;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
    }
    li {
      width: 30px;
      text-align: center;
    }
    .color-filter {
      position: relative;
      z-index: 5;
      &.active {
        &:before {
          position: absolute;
          content: '';
          top: -3px;
          bottom: -3px;
          left: -3px;
          right: -3px;
          border: 1px solid #000;
          border-radius: 50%;
          background: transparent;
          z-index: 3;
        }
      }
    }
  }
}
