<!-- /templates/customers/register.liquid -->
<section class="login-register">
  <div class="container s">
    <h1>{{ 'account.register.title' | t }}</h1>
    <h4 style="text-align: center;">{{ 'account.register.message' | t }}</h4>
    {% include 'form-register' %}
  </div>
</section>
