<!-- /templates/customers/reset_password.liquid -->

<section class="login-register">
  <div class="container s">
    <h1>{{ 'account.reset.title' | t }}</h1>
    <h4 style="text-align: center;">{{ 'account.reset.message' | t: email: email }}</h4>
    {% include 'form-reset' %}
  </div>
</section>
